.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.maxWidth{
  max-width: 400px !important;
}

.topRightCorner{
  position: absolute;
  top: 20px;
  right: 20px;
}

.mapboxgl-popup-content{
  background-color: lightblue !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 6px 0 rgba(23, 23, 23, 0.32) !important;
}