.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.maxWidth{
  max-width: 400px !important;
}

.topRightCorner{
  position: absolute;
  top: 20px;
  right: 20px;
}